*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: #252525;
                color:white;
        }
        #menu-section h2.section-title{
                text-align: center;
                padding: 10px 0 30px;
                font-size: 2rem;
        }
        #menu-section .menu-list h1.section-title{
                text-align: center;
                justify-content: center;
                font-size: 20px;
                font-weight: bond;
        }
        #menu-section .menu-list p.section-title{
                text-align: center;
                justify-content: center;
                font-size: 15px;
        }
        #menu-section .menu-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 110px;
        }
        #menu-section .menu-list .menu-item{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: calc(100%/3 - 110px);
        }
        #menu-section .menu-list .menu-item .menu-image{
                width: 300px;
                height: 300px;                
        }