*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: black;
                color:white;
        }
        #menu-section h2.section-title{
                text-align: center;
                padding: 10px 0 30px;
                font-size: 2rem;
        }
        #menu-section .menu-list h1.section-title{
                text-align: center;
                font-size: 20px;
        }
        #menu-section .menu-list p.section-title{
                text-align: center;
                font-size: 10px;
        }
        #menu-section .menu-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 32px;
        }
        #menu-section .menu-list .menu-item{
                width: calc(100%/3 - 32px);
        }
        #menu-section .menu-list .menu-item .menu-image{
                width: 100%;
                height: 100%;
        }